.button {
    position: relative;
    display: flex;
    align-items: center;
    width: 239px;
    padding: 23px 105px 22px 43px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    background: $g-main;
    border-radius: 46.5px;
    border: none;
    cursor: pointer;

    &::before {
        content: "";
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        width: 184px;
        height: 63px;
        background: $g-main;
        filter: blur(52px);
        z-index: -1;
    }

    &::after {
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        right: 30px;
        background-image: url("../../img/paint-pallete-mobile.svg");
    }

    &:hover {
        background: #ffffff;

        &::before {
            background: $g-main;
        }

        span {
            @include textGradient;
        }

        &::after {
            background-image: url("../../img/paint-palette-mobile@hover.svg");
            fill: $g-main;
        }
    }

    &--cooperate {
        width: 281px;
    }
}

@media (min-width: 1280px) {
    .button {
        margin: 0;
    }
}
