.title {
    font-family: "Circe";
    font-weight: 800;
    font-size: 36px;
    line-height: 99%;
    margin-bottom: 30px;
}

@media (min-width: 1280px) {
    .title {
        font-size: 40px;
        line-height: 59px;
    }
}

