.process {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    margin-bottom: 200px;
}

.process__list {
    @include list-reset;
    counter-reset: item;
}

.process__item {
    position: relative;
    @include list-reset;
    display: block;
    text-align: center;

    &::before {
        content: "0" counter(item);
        position: absolute;
        font-weight: 900;
        font-size: 144px;
        line-height: 180px;
        top: -70px;
        left: 50%;
        text-align: center;
        color: #f5f2ff;
        transform: translateX(-50%);
        counter-increment: item;
    }

    &:not(:last-child) {
        margin-bottom: 117px;
    }
}

.process__title {
    font-family: "Circe";
    font-weight: 800;
    font-size: 36px;
    line-height: 99%;
    margin-bottom: 117px;
}

.process__name {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 12px;
}

.process__icon {
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 36px;
}
