.portfolio {
    padding: 0 20px;
    padding-top: 40px;
    margin-bottom: 93px;
}

.portfolio__list {
    @include list-reset;
    counter-reset: item;
    margin: 0 -20px;
}

.portfolio__item {
    margin-bottom: 60px;

    &::before {
        content: "0" counter(item);
        display: block;
        font-weight: 900;
        font-size: 144px;
        line-height: 180px;
        text-align: center;
        color: #f5f2ff;
        counter-increment: item;
    }
    position: relative;

    &:hover {
        .portfolio__controls {
            opacity: 1;
        }
    }

    .swiper-container {
        margin-top: -105px;
    }
}

.portfolio__slide {
    @include list-reset;
}

.portfolio__inner {
    font-family: "Circe";
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    padding: 12px 26px 11px 27px;
    background-color: #ffffff;
}

.portfolio__time {
    position: absolute;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    padding: 14px 21px;
    background-color: #ffffff;
    border-radius: 24px;
    white-space: nowrap;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.portfolio__controls {
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 40px);
    transform: translateY(-100%);
    opacity: 0;
    transition: all 0.3s;
}

.portfolio__category {
    position: absolute;
    bottom: -14px;
    left: 50%;
    z-index: 30;
    display: block;
    white-space: nowrap;
    transform: translateX(-50%);

    span {
        display: block;
    }

    &::before {
        @include pseudo;
        position: absolute;
        bottom: -15px;
        left: 0;
        width: 100%;
        height: 37px;
        background: linear-gradient(
            89.23deg,
            #fcaf45 0.66%,
            #f77737 20.96%,
            #fd1d1d 41.27%,
            #c13584 61.57%,
            #833ab4 82.41%,
            #405de6 103.25%
        );
        filter: blur(52px);
    }
}

.portfolio__social {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 20px;

    a {
        width: 62px;
        height: 62px;
    }

    svg {
        width: 33px;
        height: 33px;
    }
}

.portfolio__info {
    font-weight: 500;
    font-size: 18px;
    line-height: 148%;
    text-align: center;

    p {
        padding-right: 7px;
    }

    a {
        font-weight: 600;
        text-decoration: underline;
    }
}

.portfolio__pagination {
    top: 45px;
}

.portfolio__img {
    object-fit: cover;
}

.portfolio__item:nth-child(4) .portfolio__img {
    width: 320px;
    height: 430px;
}

@media (min-width: 768px) {
    .portfolio {
        padding: 0 40px;
    }

    .portfolio__wrapper {
        display: flex;
    }

    .portfolio__block {
        width: 100%;
    }

    .portfolio__gradient-title {
        width: 50%;
    }

    .portfolio__description {
        padding-top: 15px;

        &::after {
            left: 750px;
        }
    }
}

@media (min-width: 1280px) {
    .portfolio {
        position: relative;
    }

    .portfolio__controls {
        display: none;
    }

    .portfolio__item {
        &:first-child {
            width: 448px;
            margin-bottom: 125px;

            &::before {
                left: 20%;
            }

            .portfolio__img {
                width: 448px;
                height: 483px;
            }

            .portfolio__category {
                left: 90%;
                top: 83%;

                &::before {
                    top: 0;
                    z-index: -1;
                }
            }
        }

        &:nth-child(2) {
            position: relative;
            margin-top: 60px;
            width: 389px;
            margin-bottom: 215px;

            &::before {
                position: absolute;
                bottom: -28%;
                left: 10%;
            }

            .portfolio__img {
                width: 389px;
                height: 510px;
            }

            .portfolio__category {
                left: 86%;
                top: 90%;

                &::before {
                    top: 0;
                    z-index: -1;
                }
            }
        }

        &:nth-child(3) {
            position: relative;
            margin-top: 140px;
            width: 292px;

            &::before {
                position: absolute;
                right: -6%;
                top: -36%;
            }

            .portfolio__img {
                width: 292px;
                height: 593px;
            }

            .portfolio__time {
                top: 90%;
            }

            .portfolio__category {
                left: 39%;
                bottom: 116%;

                &::before {
                    top: 0;
                    z-index: -1;
                }
            }
        }

        &:nth-child(4) {
            position: relative;
            width: 486px;
            margin-top: 58px;
            margin-bottom: 290px;

            &::before {
                position: absolute;
                right: -14%;
                top: 64%;
            }

            .portfolio__img {
                width: 486px;
                height: 360px;
            }

            .portfolio__category {
                left: 9%;
                top: 64%;

                &::before {
                    top: 0;
                    z-index: -1;
                }
            }
        }

        &:nth-child(5) {
            position: relative;
            width: 407px;
            margin-top: 140px;
            margin-left: 15px;

            &::before {
                position: absolute;
                right: 42%;
                top: -49%;
            }

            .portfolio__img {
                width: 407px;
                height: 517px;
            }

            .portfolio__time {
                top: 90%;
            }

            .portfolio__category {
                left: 87%;
                bottom: 106%;

                &::before {
                    top: 0;
                    z-index: -1;
                }
            }
        }
    }

    .portfolio__container {
        display: flex;
    }

    .portfolio__list {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .portfolio__time {
        left: 23%;
        top: 2%;
    }

    .portfolio__info {
        position: absolute;
        display: flex;
        text-align: left;
        align-items: center;
        max-width: 434px;
        left: calc(50% - 500px);
        bottom: 60px;
        z-index: 100;
    }

    .portfolio__social {
        margin: 0;
        margin-right: 36px;
    }

    .portfolio__pagination {
        &:nth-child(2) {
            position: absolute;
            top: 10px;
        }
    }
}
