.work__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 117px;
}

.work__text {
    font-family: "Circe";
    font-weight: 800;
    font-size: 36px;
    line-height: 99%;
}

@media (min-width: 1280px) {
    .work {
        margin-bottom: 136px;
    }
    
    .work__content {
        flex-direction: row;
        margin-bottom: 139px;
    }

    .work__text {
        width: 609px;
        text-align: left;
    }

    .work__image {
        margin-right: 125px;
    }
}
