.advantages {
    padding: 30px 30px 40px 30px;
}

.advantages__list {
    @include list-reset;
}

.advantages__item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
        margin-bottom: 52px;
    }
}

.advantages__img {
    width: 56px;
    height: 56px;
    margin-right: 28px;
}

.advantages__text {
    line-height: 21px;

    span {
        font-weight: 500;
    }
}

@media (min-width: 768px) {
    .advantages {
        padding: 90px 40px 40px 40px;
    }
    .advantages__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .advantages__item {
        width: 50%;
        align-items: inherit;
    }
}

@media (min-width: 1280px) {
    .advantages {
        padding-bottom: 159px;
    }
    .advantages__list {
        flex-wrap: nowrap;
    }
}
