.header {
    display: flex;
    flex-wrap: wrap;
    /*  position: absolute; */
    justify-content: space-between;
    width: 100%;
    padding: 23px 20px 0 31px;
}

.header__logo {
    display: block;
    width: 97px;
    margin-right: 50px;
}

.header__contacts {
    width: 100%;
}

.header__phone {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    background: $g-main;
    background-clip: text;
    margin-top: 40px;

    &::after {
        @include pseudo;
        @include reset;
        top: 15px;
        right: 11px;
        width: 10px;
        height: 10px;
        padding: 0;
        margin-left: 6px;
        margin-top: 7px;
        background-image: url("../../img/triangle.png");
        background-size: contain;
        transition: all 0.3s;
    }
}

.header__social {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 52px;

    .social__item {
        &:not(:last-child) {
            margin-right: 8px;
        }
    }
}

@media (min-width: 1280px) {
    .header {
        justify-content: normal;
        align-items: center;
        flex-wrap: nowrap;
        margin-bottom: 97px;
        padding: 20px 0 0 0;
    }

    .header__logo {
        width: 102px;
        margin-right: 96px;
    }

    .header__contacts {
        width: auto;
        display: flex;
        align-items: baseline;
        flex-direction: row-reverse;
        position: relative;
        z-index: 10;
        padding: 8px 10px;
        padding-right: 26px;
        background: #ffffff;
        border-radius: 20px;
    }

    .header__social {
        margin: 0;
        margin-right: 18px;
    }

    .header__phone {
        margin: 0;
    }
}
